,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [9]:
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

Poster_Link        0
Series_Title       0
Released_Year      0
Certificate      101
Runtime            0
Genre              0
IMDB_Rating        0
Overview           0
Meta_score       157
Director           0
Star1              0
Star2              0
Star3              0
Star4              0
No_of_Votes        0
Gross            169
dtype: int64

In [18]:
df['Released_Year'] = pd.to_numeric(df['Released_Year'], errors='coerce')

In [19]:
df['Released_Year'].head(10)

0    1994.0
1    1972.0
2    2008.0
3    1974.0
4    1957.0
5    2003.0
6    1994.0
7    1993.0
8    2010.0
9    1999.0
Name: Released_Year, dtype: float64

In [20]:
df['Runtime'] = df['Runtime'].str.replace(' min','').astype(float)
df['Runtime'].head()

0    142.0
1    175.0
2    152.0
3    202.0
4     96.0
Name: Runtime, dtype: float64

In [22]:
df['Certificate'] = df['Certificate'].fillna("Not Rated")
df['Certificate'].head()

0     A
1     A
2    UA
3     A
4     U
Name: Certificate, dtype: object

In [23]:
df['Certificate'].value_counts()

Certificate
U            234
A            197
UA           175
R            146
Not Rated    101
PG-13         43
PG            37
Passed        34
G             12
Approved      11
TV-PG          3
GP             2
TV-14          1
Unrated        1
TV-MA          1
16             1
U/A            1
Name: count, dtype: int64

In [25]:
df['Gross'] = df['Gross'].replace(r'[\$,]', '', regex=True).astype(float)
df['Gross'].head(10)

0     28341469.0
1    134966411.0
2    534858444.0
3     57300000.0
4      4360000.0
5    377845905.0
6    107928762.0
7     96898818.0
8    292576195.0
9     37030102.0
Name: Gross, dtype: float64

In [26]:
df['Meta_score'] = df['Meta_score'].fillna(df['Meta_score'].mean())
df['Meta_score'].head(10)

0     80.0
1    100.0
2     84.0
3     90.0
4     96.0
5     94.0
6     94.0
7     94.0
8     74.0
9     66.0
Name: Meta_score, dtype: float64

In [27]:
df['Genre'] = df['Genre'].str.strip().str.title()
df['Director'] = df['Director'].str.strip()
df['Series_Title'] = df['Series_Title'].str.strip()
df['Main_Genre'] = df['Genre'].str.split(',').str[0]
df[['Series_Title','Genre','Main_Genre','Director']].head()

,Series_Title,Genre,Main_Genre,Director
0,The Shawshank Redemption,Drama,Drama,Frank Darabont
1,The Godfather,"Crime, Drama",Crime,Francis Ford Coppola
2,The Dark Knight,"Action, Crime, Drama",Action,Christopher Nolan
3,The Godfather: Part II,"Crime, Drama",Crime,Francis Ford Coppola
4,12 Angry Men,"Crime, Drama",Crime,Sidney Lumet

In [28]:
print("Duplicates found:", df.duplicated().sum())
df = df.drop_duplicates()

Duplicates found: 0

In [29]:
df.to_csv("./data/imdb_top_1000_clean.csv", index=False)
print("✅ Cleaned dataset saved as imdb_top_1000_clean.csv")

✅ Cleaned dataset saved as imdb_top_1000_clean.csv

In [30]:
df['Certificate'] = df['Certificate'].replace(['16', 'Passed'], 'Not Rated')
df['Certificate'].unique()

array(['A', 'UA', 'U', 'PG-13', 'R', 'Not Rated', 'PG', 'G', 'TV-14',
       'TV-MA', 'Unrated', 'GP', 'Approved', 'TV-PG', 'U/A'], dtype=object)

In [31]:
df['Meta_score'] = df['Meta_score'].round(0).astype('Int64')
df['Meta_score'].head(10)

0     80
1    100
2     84
3     90
4     96
5     94
6     94
7     94
8     74
9     66
Name: Meta_score, dtype: Int64

In [32]:
df['Gross'] = df['Gross'].replace('[^0-9]', '', regex=True)
df['Gross'] = pd.to_numeric(df['Gross'], errors='coerce')
df['Gross'].head(20)

0      28341469.0
1     134966411.0
2     534858444.0
3      57300000.0
4       4360000.0
5     377845905.0
6     107928762.0
7      96898818.0
8     292576195.0
9      37030102.0
10    315544750.0
11    330252182.0
12      6100000.0
13    342551365.0
14    171479930.0
15     46836394.0
16    290475067.0
17    112000000.0
18            NaN
19     53367844.0
Name: Gross, dtype: float64

In [33]:
df.info()            
df.isnull().sum()     
df.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  999 non-null    float64
 3   Certificate    1000 non-null   object
 4   Runtime        1000 non-null   float64
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     1000 non-null   Int64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    float64
 16  Main_Genre     1000 non-null   object
dtypes: Int64(1), float64(4), int64(1), object(11)
memory usage: 133.9+ KB

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross,Main_Genre
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994.0,A,142.0,Drama,9.3,Two imprisoned men bond over a number of years...,80,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,28341469.0,Drama
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972.0,A,175.0,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,134966411.0,Crime
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008.0,UA,152.0,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,534858444.0,Action
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974.0,A,202.0,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,57300000.0,Crime
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957.0,U,96.0,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,4360000.0,Crime
5,https://m.media-amazon.com/images/M/MV5BNzA5ZD...,The Lord of the Rings: The Return of the King,2003.0,U,201.0,"Action, Adventure, Drama",8.9,Gandalf and Aragorn lead the World of Men agai...,94,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,1642758,377845905.0,Action
6,https://m.media-amazon.com/images/M/MV5BNGNhMD...,Pulp Fiction,1994.0,A,154.0,"Crime, Drama",8.9,"The lives of two mob hitmen, a boxer, a gangst...",94,Quentin Tarantino,John Travolta,Uma Thurman,Samuel L. Jackson,Bruce Willis,1826188,107928762.0,Crime
7,https://m.media-amazon.com/images/M/MV5BNDE4OT...,Schindler's List,1993.0,A,195.0,"Biography, Drama, History",8.9,"In German-occupied Poland during World War II,...",94,Steven Spielberg,Liam Neeson,Ralph Fiennes,Ben Kingsley,Caroline Goodall,1213505,96898818.0,Biography
8,https://m.media-amazon.com/images/M/MV5BMjAxMz...,Inception,2010.0,UA,148.0,"Action, Adventure, Sci-Fi",8.8,A thief who steals corporate secrets through t...,74,Christopher Nolan,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,2067042,292576195.0,Action
9,https://m.media-amazon.com/images/M/MV5BMmEzNT...,Fight Club,1999.0,A,139.0,Drama,8.8,An insomniac office worker and a devil-may-car...,66,David Fincher,Brad Pitt,Edward Norton,Meat Loaf,Zach Grenier,1854740,37030102.0,Drama

In [35]:
df.to_csv("./data/imdb_top_1000_clean.csv", index=False)

In [11]:
print("Before Cleaning (first 10 rows):")
print(df[['Series_Title', 'Star1']].head(10))

char_map = {
    "0": "o",
    "1": "i",
    "2": "z",
    "3": "e",
    "4": "a",
    "5": "s",
    "6": "g",
    "7": "v",
    "8": "b",
    "9": "g",
    "$": "s",
    "!": "i",
    "@": "a"
}

def normalize_text(text):
    if isinstance(text, str):
        return "".join(char_map.get(ch, ch) for ch in text)
    return text
df['Series_Title'] = df['Series_Title'].str.replace(r'[^a-zA-Z0-9\s]', '', regex=True)
for col in ['Star1', 'Star2', 'Star3', 'Star4']:
    df[col] = df[col].apply(normalize_text)
    df[col] = df[col].str.replace(r'[^a-zA-Z\s]', '', regex=True)
print(df[['Series_Title', 'Star1', 'Star2', 'Star3', 'Star4']].head(15))

Before Cleaning (first 10 rows):
                                   Series_Title              Star1
0                      The Shawshank Redemption        Tim Robbins
1                                 The Godfather      Marlon Brando
2                               The Dark Knight     Christian Bale
3                         The Godfather Part II          Al Pacino
4                                  iz Angry Men        Henry Fonda
5  The Lord of the Rings The Return of the King        Elijah Wood
6                                  Pulp Fiction      John Travolta
7                               Schindlers List        Liam Neeson
8                                     Inception  Leonardo DiCaprio
9                                    Fight Club          Brad Pitt
                                        Series_Title              Star1  \
0                           The Shawshank Redemption        Tim Robbins
1                                      The Godfather      Marlon Brando
2                                    The Dark Knight     Christian Bale
3                              The Godfather Part II          Al Pacino
4                                       iz Angry Men        Henry Fonda
5       The Lord of the Rings The Return of the King        Elijah Wood
6                                       Pulp Fiction      John Travolta
7                                    Schindlers List        Liam Neeson
8                                          Inception  Leonardo DiCaprio
9                                         Fight Club          Brad Pitt
10  The Lord of the Rings The Fellowship of the Ring        Elijah Wood
11                                      Forrest Gump          Tom Hanks
12                     Il buono il brutto il cattivo     Clint Eastwood
13              The Lord of the Rings The Two Towers        Elijah Wood
14                                        The Matrix    Lilly Wachowski

                  Star2               Star3             Star4
0        Morgan Freeman          Bob Gunton    William Sadler
1             Al Pacino          James Caan      Diane Keaton
2          Heath Ledger       Aaron Eckhart     Michael Caine
3        Robert De Niro       Robert Duvall      Diane Keaton
4            Lee J Cobb       Martin Balsam      John Fiedler
5       Viggo Mortensen        Ian McKellen     Orlando Bloom
6           Uma Thurman    Samuel L Jackson      Bruce Willis
7         Ralph Fiennes        Ben Kingsley  Caroline Goodall
8   Joseph GordonLevitt         Elliot Page      Ken Watanabe
9         Edward Norton           Meat Loaf      Zach Grenier
10         Ian McKellen       Orlando Bloom         Sean Bean
11         Robin Wright         Gary Sinise       Sally Field
12          Eli Wallach       Lee Van Cleef       Aldo Giuffr
13         Ian McKellen     Viggo Mortensen     Orlando Bloom
14         Keanu Reeves  Laurence Fishburne   CarrieAnne Moss

In [12]:
df = pd.read_csv("../data/imdb_top_1000.csv")

In [13]:
df.head(10)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
5,https://m.media-amazon.com/images/M/MV5BNzA5ZD...,The Lord of the Rings: The Return of the King,2003,U,201 min,"Action, Adventure, Drama",8.9,Gandalf and Aragorn lead the World of Men agai...,94.0,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,1642758,"377,845,905"
6,https://m.media-amazon.com/images/M/MV5BNGNhMD...,Pulp Fiction,1994,A,154 min,"Crime, Drama",8.9,"The lives of two mob hitmen, a boxer, a gangst...",94.0,Quentin Tarantino,John Travolta,Uma Thurman,Samuel L. Jackson,Bruce Willis,1826188,"107,928,762"
7,https://m.media-amazon.com/images/M/MV5BNDE4OT...,Schindler's List,1993,A,195 min,"Biography, Drama, History",8.9,"In German-occupied Poland during World War II,...",94.0,Steven Spielberg,Liam Neeson,Ralph Fiennes,Ben Kingsley,Caroline Goodall,1213505,"96,898,818"
8,https://m.media-amazon.com/images/M/MV5BMjAxMz...,Inception,2010,UA,148 min,"Action, Adventure, Sci-Fi",8.8,A thief who steals corporate secrets through t...,74.0,Christopher Nolan,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,2067042,"292,576,195"
9,https://m.media-amazon.com/images/M/MV5BMmEzNT...,Fight Club,1999,A,139 min,Drama,8.8,An insomniac office worker and a devil-may-car...,66.0,David Fincher,Brad Pitt,Edward Norton,Meat Loaf,Zach Grenier,1854740,"37,030,102"

In [14]:
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

Poster_Link        0
Series_Title       0
Released_Year      0
Certificate      101
Runtime            0
Genre              0
IMDB_Rating        0
Overview           0
Meta_score       157
Director           0
Star1              0
Star2              0
Star3              0
Star4              0
No_of_Votes        0
Gross            169
dtype: int64

In [18]:
df['Released_Year'] = pd.to_numeric(df['Released_Year'], errors='coerce').astype('Int64')
df['Released_Year'].head()

0    1994
1    1972
2    2008
3    1974
4    1957
Name: Released_Year, dtype: Int64

In [22]:
df['Runtime'] = df ['Runtime'].astype(str)
df['Runtime'] = df ['Runtime'].str.replace("min","")
df['Runtime'] = pd.to_numeric(df['Runtime'], errors='coerce')

In [23]:
df['Runtime'].head(10)

0    142.0
1    175.0
2    152.0
3    202.0
4     96.0
5    201.0
6    154.0
7    195.0
8    148.0
9    139.0
Name: Runtime, dtype: float64

In [24]:
df['Certificate'] = df['Certificate'].fillna("Not Rated")
df['Certificate'].head()

0     A
1     A
2    UA
3     A
4     U
Name: Certificate, dtype: object

In [25]:
df['Certificate'].value_counts

<bound method IndexOpsMixin.value_counts of 0              A
1              A
2             UA
3              A
4              U
         ...
995            A
996            G
997       Passed
998    Not Rated
999    Not Rated
Name: Certificate, Length: 1000, dtype: object>

In [26]:
df['Gross'] = df['Gross'].replace(r'[\$,]', '', regex=True).astype(float)
df['Gross'].head(10)

0     28341469.0
1    134966411.0
2    534858444.0
3     57300000.0
4      4360000.0
5    377845905.0
6    107928762.0
7     96898818.0
8    292576195.0
9     37030102.0
Name: Gross, dtype: float64

In [27]:
df['Meta_score'] = df['Meta_score'].fillna(df['Meta_score'].mean())
df['Meta_score'].head(10)

0     80.0
1    100.0
2     84.0
3     90.0
4     96.0
5     94.0
6     94.0
7     94.0
8     74.0
9     66.0
Name: Meta_score, dtype: float64

In [28]:
df['Genre'] = df['Genre'].str.strip().str.title()
df['Director'] = df['Director'].str.strip()
df['Series_Title'] = df['Series_Title'].str.strip()
df['Main_Genre'] = df['Genre'].str.split(',').str[0]
df[['Series_Title','Genre','Main_Genre','Director']].head()

,Series_Title,Genre,Main_Genre,Director
0,The Shawshank Redemption,Drama,Drama,Frank Darabont
1,The Godfather,"Crime, Drama",Crime,Francis Ford Coppola
2,The Dark Knight,"Action, Crime, Drama",Action,Christopher Nolan
3,The Godfather: Part II,"Crime, Drama",Crime,Francis Ford Coppola
4,12 Angry Men,"Crime, Drama",Crime,Sidney Lumet

In [33]:
char_map = {
    "0": "o",
    "1": "i",
    "2": "z",
    "3": "e",
    "4": "a",
    "5": "s",
    "6": "g",
    "7": "v",
    "8": "b",
    "9": "g",
    "$": "s",
    "!": "i",
    "@": "a"
}
def normalize_text(text):
    if isinstance(text, str):
        return "".join(char_map.get(ch, ch) for ch in text)
    return text

df['Series_Title'] = df['Series_Title'].str.replace(r'[^a-zA-Z0-9\s]', '', regex=True)

for col in ['Star1', 'Star2', 'Star3', 'Star4']:
    df[col] = df[col].apply(normalize_text)
    df[col] = df[col].str.replace(r'[^a-zA-Z\s]', '', regex=True)
    print(df[['Series_Title', 'Star1', 'Star2', 'Star3', 'Star4']].head(15))

                                        Series_Title              Star1  \
0                           The Shawshank Redemption        Tim Robbins
1                                      The Godfather      Marlon Brando
2                                    The Dark Knight     Christian Bale
3                              The Godfather Part II          Al Pacino
4                                       12 Angry Men        Henry Fonda
5       The Lord of the Rings The Return of the King        Elijah Wood
6                                       Pulp Fiction      John Travolta
7                                    Schindlers List        Liam Neeson
8                                          Inception  Leonardo DiCaprio
9                                         Fight Club          Brad Pitt
10  The Lord of the Rings The Fellowship of the Ring        Elijah Wood
11                                      Forrest Gump          Tom Hanks
12                     Il buono il brutto il cattivo     Clint Eastwood
13              The Lord of the Rings The Two Towers        Elijah Wood
14                                        The Matrix    Lilly Wachowski

                  Star2               Star3             Star4
0        Morgan Freeman          Bob Gunton    William Sadler
1             Al Pacino          James Caan      Diane Keaton
2          Heath Ledger       Aaron Eckhart     Michael Caine
3        Robert De Niro       Robert Duvall      Diane Keaton
4            Lee J Cobb       Martin Balsam      John Fiedler
5       Viggo Mortensen        Ian McKellen     Orlando Bloom
6           Uma Thurman    Samuel L Jackson      Bruce Willis
7         Ralph Fiennes        Ben Kingsley  Caroline Goodall
8   Joseph GordonLevitt         Elliot Page      Ken Watanabe
9         Edward Norton           Meat Loaf      Zach Grenier
10         Ian McKellen       Orlando Bloom         Sean Bean
11         Robin Wright         Gary Sinise       Sally Field
12          Eli Wallach       Lee Van Cleef       Aldo Giuffr
13         Ian McKellen     Viggo Mortensen     Orlando Bloom
14         Keanu Reeves  Laurence Fishburne   CarrieAnne Moss
                                        Series_Title              Star1  \
0                           The Shawshank Redemption        Tim Robbins
1                                      The Godfather      Marlon Brando
2                                    The Dark Knight     Christian Bale
3                              The Godfather Part II          Al Pacino
4                                       12 Angry Men        Henry Fonda
5       The Lord of the Rings The Return of the King        Elijah Wood
6                                       Pulp Fiction      John Travolta
7                                    Schindlers List        Liam Neeson
8                                          Inception  Leonardo DiCaprio
9                                         Fight Club          Brad Pitt
10  The Lord of the Rings The Fellowship of the Ring        Elijah Wood
11                                      Forrest Gump          Tom Hanks
12                     Il buono il brutto il cattivo     Clint Eastwood
13              The Lord of the Rings The Two Towers        Elijah Wood
14                                        The Matrix    Lilly Wachowski

                  Star2               Star3             Star4
0        Morgan Freeman          Bob Gunton    William Sadler
1             Al Pacino          James Caan      Diane Keaton
2          Heath Ledger       Aaron Eckhart     Michael Caine
3        Robert De Niro       Robert Duvall      Diane Keaton
4            Lee J Cobb       Martin Balsam      John Fiedler
5       Viggo Mortensen        Ian McKellen     Orlando Bloom
6           Uma Thurman    Samuel L Jackson      Bruce Willis
7         Ralph Fiennes        Ben Kingsley  Caroline Goodall
8   Joseph GordonLevitt         Elliot Page      Ken Watanabe
9         Edward Norton           Meat Loaf      Zach Grenier
10         Ian McKellen       Orlando Bloom         Sean Bean
11         Robin Wright         Gary Sinise       Sally Field
12          Eli Wallach       Lee Van Cleef       Aldo Giuffr
13         Ian McKellen     Viggo Mortensen     Orlando Bloom
14         Keanu Reeves  Laurence Fishburne   CarrieAnne Moss
                                        Series_Title              Star1  \
0                           The Shawshank Redemption        Tim Robbins
1                                      The Godfather      Marlon Brando
2                                    The Dark Knight     Christian Bale
3                              The Godfather Part II          Al Pacino
4                                       12 Angry Men        Henry Fonda
5       The Lord of the Rings The Return of the King        Elijah Wood
6                                       Pulp Fiction      John Travolta
7                                    Schindlers List        Liam Neeson
8                                          Inception  Leonardo DiCaprio
9                                         Fight Club          Brad Pitt
10  The Lord of the Rings The Fellowship of the Ring        Elijah Wood
11                                      Forrest Gump          Tom Hanks
12                     Il buono il brutto il cattivo     Clint Eastwood
13              The Lord of the Rings The Two Towers        Elijah Wood
14                                        The Matrix    Lilly Wachowski

                  Star2               Star3             Star4
0        Morgan Freeman          Bob Gunton    William Sadler
1             Al Pacino          James Caan      Diane Keaton
2          Heath Ledger       Aaron Eckhart     Michael Caine
3        Robert De Niro       Robert Duvall      Diane Keaton
4            Lee J Cobb       Martin Balsam      John Fiedler
5       Viggo Mortensen        Ian McKellen     Orlando Bloom
6           Uma Thurman    Samuel L Jackson      Bruce Willis
7         Ralph Fiennes        Ben Kingsley  Caroline Goodall
8   Joseph GordonLevitt         Elliot Page      Ken Watanabe
9         Edward Norton           Meat Loaf      Zach Grenier
10         Ian McKellen       Orlando Bloom         Sean Bean
11         Robin Wright         Gary Sinise       Sally Field
12          Eli Wallach       Lee Van Cleef       Aldo Giuffr
13         Ian McKellen     Viggo Mortensen     Orlando Bloom
14         Keanu Reeves  Laurence Fishburne   CarrieAnne Moss
                                        Series_Title              Star1  \
0                           The Shawshank Redemption        Tim Robbins
1                                      The Godfather      Marlon Brando
2                                    The Dark Knight     Christian Bale
3                              The Godfather Part II          Al Pacino
4                                       12 Angry Men        Henry Fonda
5       The Lord of the Rings The Return of the King        Elijah Wood
6                                       Pulp Fiction      John Travolta
7                                    Schindlers List        Liam Neeson
8                                          Inception  Leonardo DiCaprio
9                                         Fight Club          Brad Pitt
10  The Lord of the Rings The Fellowship of the Ring        Elijah Wood
11                                      Forrest Gump          Tom Hanks
12                     Il buono il brutto il cattivo     Clint Eastwood
13              The Lord of the Rings The Two Towers        Elijah Wood
14                                        The Matrix    Lilly Wachowski

                  Star2               Star3             Star4
0        Morgan Freeman          Bob Gunton    William Sadler
1             Al Pacino          James Caan      Diane Keaton
2          Heath Ledger       Aaron Eckhart     Michael Caine
3        Robert De Niro       Robert Duvall      Diane Keaton
4            Lee J Cobb       Martin Balsam      John Fiedler
5       Viggo Mortensen        Ian McKellen     Orlando Bloom
6           Uma Thurman    Samuel L Jackson      Bruce Willis
7         Ralph Fiennes        Ben Kingsley  Caroline Goodall
8   Joseph GordonLevitt         Elliot Page      Ken Watanabe
9         Edward Norton           Meat Loaf      Zach Grenier
10         Ian McKellen       Orlando Bloom         Sean Bean
11         Robin Wright         Gary Sinise       Sally Field
12          Eli Wallach       Lee Van Cleef       Aldo Giuffr
13         Ian McKellen     Viggo Mortensen     Orlando Bloom
14         Keanu Reeves  Laurence Fishburne   CarrieAnne Moss

In [36]:
df.to_csv("../data/imdb_top_1000_newclean.csv", index=False)

In [37]:
df['Meta_score'] = df['Meta_score'].astype(int)
df['Meta_score'].head(30)

0      80
1     100
2      84
3      90
4      96
5      94
6      94
7      94
8      74
9      66
10     92
11     82
12     90
13     87
14     73
15     90
16     82
17     83
18     90
19     96
20     77
21     74
22     79
23     96
24     91
25     61
26     59
27     65
28     85
29     90
Name: Meta_score, dtype: int64

In [39]:
df.to_csv("../data/imdb_top_1000_newclean.csv", index=False)